<%- include("partials/header") -%>
<%- include("partials/navbar") -%>


      <div class="album py-5 my-4">
        <div class="container">
            
          <h1><%= courseField.fieldName %></h1>
          <div class="row row-cols-1 row-cols-sm-3 g-5">

            <% for(let i=0;i<courseField.courses.length;i++){ %>
                <div class="col">
                    <div class="card shadow-sm">
                      <img src="<%= courseField.courses[i].imgURL %>" alt="">
                      <div class="mx-2 my-2">
                        <div>
                          <h4 class="card-text my-2">By <%= courseField.courses[i].creator %></h4>
                          <p >
                            <div class="d-flex align-items-center">
                              <span class="mx-1" style="font-size: large; font-weight: 700; color: #f29c08;"><%= courseField.courses[i].rating %> </span>
                                <span class="ratedStar">
                                  <% for(let j=1;j<=5;j++){ 
                                    if(j<courseField.courses[i].rating){ %>
                                      <span class="shine"></span>
                                    <% } else{ %>
                                      <span class="notShine"></span>
                                  <% }} %>
                                </span>
                                <span class="mx-1">(<%= courseField.courses[i].ratedBy.length %>)</span>
                              </div>
                          </p>
                              <!-- <%= courseField.courses[i].rating %>(<%= courseField.courses[i].ratedBy.length %>)</p> -->
                        </div>
                
                          <div class="btn-group">
                              <a href="<%= courseField.courses[i].url %>"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                          </div>
                        <% if(user){
                          <!-- console.log(courseField.courses[i].ratedBy); -->
                          if(!courseField.courses[i].ratedBy.find(usr=> usr.substring(0,usr.length-1)===user.id)){ %>
                              
                            <% console.log(user.id);
                            console.log(courseField.courses[i].ratedBy.find(usr=> usr.substring(0,usr.length-1))); %>

                            <form action="/addRating" method="post">
                                <input type="hidden" name="courseField" value="<%= courseField.id %>">
                                <input type="hidden" name="fieldName" value="<%= courseField.fieldName %>">
                                <input type="hidden" name="course" value="<%= courseField.courses[i].id %>">

                                <button type="submit" name="user" value="<%=user.id%>" onclick="document.querySelector('form').submit()">
                                <div class="d-flex align-items-center">
                                  <span>Rate this course:</span>
                                <span> 
          
                                    <div class="rate">
                                      <input type="radio" id="star5" name="rating" value="5" />
                                      <label for="star5" title="text"></label>
                                      <input type="radio" id="star4" name="rating" value="4" />
                                      <label for="star4" title="text"></label>
                                      <input type="radio" id="star3" name="rating" value="3" />
                                      <label for="star3" title="text"></label>
                                      <input type="radio" id="star2" name="rating" value="2" />
                                      <label for="star2" title="text"></label>
                                      <input type="radio" id="star1" name="rating" value="1" />
                                      <label for="star1" title="text"></label>
                                    </div>
                                  </span>
                                </div>
                                  </button>
                            </form>
                        <% }} else{ %>
                          <button class="btn btn-primary my-2"><a href="/login">Give rating</a></button>
                        <% } %>
                      </div>
                    </div>
                  </div>
            <% } %>
            
          </div>
        </div>
      </div>

<%- include("partials/footer") -%>